

  <style>  
 
 


  .header {
    background-color: rgb(135, 233, 160);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

  body {
    background-color: lavender;
    font-family: arial;
    padding: 10px;
    text-align: center;
  }
  .parent{
    border: 1px solid #fff;
    margin: 1rem;
    padding:2rem 2rem;
    text-align:center;
  }
  .child{
    display:inline-flexbox;
    border: 2px solid red;
    
    padding:1rem 1rem;
    vertical-align:auto;
    
  }

  p{
    padding: 10px 50px 10px 50px;
    text-align: left;
  }
 ul,ol {background-color: khaki;}


 
  h1 {
    text-align: center;
    color:orange;
  }
  span{
    padding: 50px;
  }
  
      h3{
        color: rgb(34, 96, 231);
        font-family: monospace;}

      p{font-style: inherit;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(139, 97, 0);
      }
      
      /* @media (max-width:500px){
        body{
          color:blue;
        }
      } */

      @media only screen and (max-width: 320px) {
        body{
          color:blue;
        }
      }

      @media only screen and (min-device-width: 768px) {
        body{
          color:rgb(255, 0, 64);
        }
      }
      @media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {
        body{
          color:rgb(255, 0, 64);
        }
      }
    
      footer {
        background-color: rgb(131, 196, 195);
        padding: 10px;
        text-align: center;
        color: rgb(7, 4, 17);
      }    


    
</style>